body {
    background-image: url("https://images.pexels.com/photos/6256253/pexels-photo-6256253.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: cover;
    height: 100%;
}